red {
    color: red;
}

blue {
    color: blue;
}

green {
    color: green;
}

gold {
    color: gold;
}

purple {
    color: purple;
}

lgray {
    color: lightgray;
}

lmHide {
    color: white;
}

mark {
    background: linear-gradient(transparent 40%,rgba(255,255,255,0) 40%, #FFF176 90%,transparent 95%);	
}