{{- if (and (eq .Kind "page") (ne .Layout "archives") (ne .Layout "search") (.Param "ShowCodeCopyButtons")) }}
<script>
  let copyText = ["已複製!", "已複製?", "雙倍複製!", "三倍複製!", "狂暴攻擊!!", "主宰一切!!", "終極複製!!", "無人能擋!!", "變態殺戮!!", "猛獸級複製!!", "超神的!!!", "比神還強!!!!"];
  let copyClickTime = 0;
  let copyTimer = 0;

  function shake(element, loopMs, durationMs, scale) {
    element.style.transition = "0.1s";

    let shakeLooper = setInterval(() => {
      let randomInt1 = Math.floor((Math.random() * 3) + 1);
      let randomInt2 = Math.floor((Math.random() * 3) + 1);
      let randomInt3 = Math.floor((Math.random() * 2) + 1);

      let phase1 = (randomInt1 % 2) == 0 ? "+" : "-";
      let phase2 = (randomInt2 % 2) == 0 ? "+" : "-";
      let phase3 = (randomInt3 % 2) == 0 ? "+" : "-";

      let transitionX = ((phase1 + randomInt1) * (scale)) + "px";
      let transitionY = ((phase2 + randomInt2) * (scale)) + "px";
      let rotate = ((phase3 + randomInt3) * (scale)) + "deg";

      element.style.transform = `translate(${transitionX},${transitionY}) rotate(${rotate})`;
    }, loopMs);

    setTimeout(() => {
      clearInterval(shakeLooper);
    }, durationMs);
  }

  document.querySelectorAll('pre > code').forEach((codeblock) => {
    const container = codeblock.parentNode.parentNode;

    const copybutton = document.createElement('button');
    copybutton.classList.add('copy-code');
    copybutton.innerText = '{{- i18n "code_copy" | default "copy" }}';

    function copyingDone() {
      copyClickTime = copyClickTime >= copyText.length ? copyText.length - 1 : copyClickTime;
      copybutton.innerText = copyText[copyClickTime];

      if (copyClickTime >= 10) {
        copybutton.style.backgroundColor = '#ed6896';
        shake(copybutton, 50, 500, 2);
      } else if (copyClickTime >= 0) {
        copybutton.style.backgroundColor = '#47d265';
      }

      return setTimeout(() => {
        // reset to default
        copybutton.innerText = '複製';
        copybutton.style.backgroundColor = 'rgba(78,78,78,.8)';
        copyClickTime = 0;
      }, 2000);
    }

    copybutton.addEventListener('click', (cb) => {
      if ('clipboard' in navigator) {
        navigator.clipboard.writeText(codeblock.textContent);
        clearTimeout(copyTimer);
        copyClickTime++;
        copyTimer = copyingDone();
        return;
      }

      const range = document.createRange();
      range.selectNodeContents(codeblock);
      const selection = window.getSelection();
      selection.removeAllRanges();
      selection.addRange(range);
      try {
        document.execCommand('copy');
        copyingDone();
      } catch (e) { };
      selection.removeRange(range);
    });

    if (container.classList.contains("highlight")) {
      container.appendChild(copybutton);
    } else if (container.parentNode.firstChild == container) {
      // td containing LineNos
    } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
      // table containing LineNos and code
      codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.appendChild(copybutton);
    } else {
      // code blocks not having highlight as parent class
      codeblock.parentNode.appendChild(copybutton);
    }
  });
</script>
{{- end }}



{{/* ToC Scroll */}}
<script>
  // NOTE use closure instead of DOMContentLoaded because of InstantClick,
  // every page loaded by InstantClick should run the <script> tags again.
  (function () {
    const enableTocScroll = '{{- if (and (eq .Kind "page") (.Content) (.Param "ShowToc") (.Param "TocSide")) }}1{{ end }}' == '1'
    if (!enableTocScroll) {
      return
    }
    if (!document.querySelector('.toc')) {
      console.log('no toc found, ignore toc scroll')
      return
    }
    // console.log('enable toc scroll')

    // always get an array here
    const scrollListeners = window.scrollListeners
    const headings = document.querySelectorAll('h1[id],h2[id],h3[id],h4[id],h5[id]');
    const activeClass = 'active';

    // Make the first header active
    let activeHeading = headings[0];
    getLinkByHeading(activeHeading).classList.add(activeClass);

    const onScroll = () => {
      const passedHeadings = [];
      for (const h of headings) {
        // 5 px as a buffer
        if (getOffsetTop(h) < 5) {
          passedHeadings.push(h)
        } else {
          break;
        }
      }
      if (passedHeadings.length > 0) {
        newActiveHeading = passedHeadings[passedHeadings.length - 1];
      } else {
        newActiveHeading = headings[0];
      }
      if (activeHeading != newActiveHeading) {
        getLinkByHeading(activeHeading).classList.remove(activeClass);
        activeHeading = newActiveHeading;
        getLinkByHeading(activeHeading).classList.add(activeClass);
      }
    }

    let timer = null;
    const scrollListener = () => {
      if (timer !== null) {
        clearTimeout(timer)
      }
      timer = setTimeout(onScroll, 50)
    }
    window.addEventListener('scroll', scrollListener, false);
    scrollListeners.push(scrollListener)

    function getLinkByHeading(heading) {
      const id = encodeURI(heading.getAttribute('id')).toLowerCase();
      return document.querySelector(`.toc ul li a[href="#${id}"]`);
    }

    function getOffsetTop(heading) {
      if (!heading.getClientRects().length) {
        return 0;
      }
      let rect = heading.getBoundingClientRect();
      return rect.top
    }
  })();
</script>

{{- if (.Param "EnableImageZoom") }}
<script>
  mediumZoom('.entry-cover img');
  mediumZoom('.post-content img:not([no-zoom])');
</script>
{{- end }}

{{- if not .Params.noTips -}}
<script src="{{ .Site.BaseURL }}js/hover_tooltip.js"></script>
{{- end -}}